@font-face {
    font-family:'open_sansregular';
    src:url('../fonts/OpenSans-Regular-webfont.eot');
    src:url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
        url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight:normal;
    font-style:normal;    
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	transition: background 0.5s ease-in-out 0s, padding 0.5s ease-in-out 0s;
	-webkit-transition: background 0.5s ease-in-out 0s, padding 0.5s ease-in-out 0s;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
img,
object,
embed {
	max-width: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	font-weight: bold;
	vertical-align: bottom;
}
td {
	font-weight: normal;
	vertical-align: top;
}
input,
select {
	vertical-align: middle;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
.ie6 input {
	vertical-align: text-bottom;
}
a:hover,
a:active {
	outline: none;
}
button,
input,
select,
textarea {
	margin: 0;
}
button {
	width: auto;
	overflow: visible;
}
.ie7 img {
	-ms-interpolation-mode: bicubic;
}
img {
	border: none;
}
:focus {
	outline: 0;
}
body {
	font-family: 'open_sansregular';
	line-height: 1;
	appearance: none;
	-webkit-appearance: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
::-webkit-input-placeholder {
	color: #aeaeae;
	opacity: 1;
}
:-moz-placeholder {
	color: #aeaeae;
	opacity: 1;
}
::-moz-placeholder {
	color: #aeaeae;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #aeaeae;
	opacity: 1;
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
.row {
	width: 100%;
	float: left;
}
.logo {
	width: auto;
	float: left;
	margin: 36px 0 40px 10px;
}
nav {
	width: auto;
	float: right;
	margin: 40px 0px 0px 0px;
}
nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: right;
}
nav li {
	float: left;
	margin-left: 40px;
}
nav li a {
	font-size: 12px;
	color: #0e0e0e;
	padding: 10px 0 10px 0;
	display: block;
	text-transform: uppercase;
	transition: inherit;
	-webkit-transition: inherit;
}
nav li a:hover {
	color: #24a90f;
}
nav li a.active {
	color: #24a90f;
}
.search-wrapper {
    background: url(../images/search-banner.jpg) center top no-repeat;
    width: 100%;
    float: left;
    padding: 50px 0 100px 0;
}
.search-wrapper h1 {
    font-size: 72px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.search-wrapper p {
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
}
.search-frame {
    background-color: rgba(213, 215, 218, 0.8);
    width: 100%;
    float: left;
    margin-top: 76px;
    padding: 8px 55px 8px 55px;
}
.search-frame p {
    background: url(../images/lock.svg);
    background-repeat: no-repeat;
    background-size: 34px 38px;
    font-size: 14px;
    color: #333333;
    float: right;
    margin-top: 18px;
    padding: 0 0 0 47px;
    line-height: 40px;
}
.width280 {
    width: 280px;
    float: left;
}
.width336 {
    width: 336px;
    float: left;
}
.width295 {
    width: 295px;
    float: left;
    margin-left: 5px;
}
.legend {
    background-color: #24a90f;
    width: 512px;
    height: 44px;
    border-radius: 7px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    padding: 0 0 0 25px;
    line-height: 44px;
    position: relative;
}
.legend::before{
    content: "";
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #24a90f;
    position: absolute;
    bottom: -8px;
}
label {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #bf0a30;
    padding-bottom: 10px;
}
input { 
    background-color: #fff;
    width: 100%;
    float: left;
    height: 65px;
    padding: 0 20px 0 20px;
}
button[type="submit"] {
	cursor:pointer;
    width:150px;
    height: 65px;
    float: left;
	border:none;
	background-color:#24a90f;
	color:#fff;
	margin:24px 0 0 10px;
	padding:10px;
    font-size:15px;
    border-radius: 5px;
}
.court-wrapper {
    width: 100%;
    float: left;
    padding: 76px 0 70px 0;
}
.court-wrapper h2 {
    font-size: 48px;
    color: #333333;
    text-transform: uppercase;
}
.court-wrapper h3 {
    font-size: 36px;
    color: #333333;
    padding: 80px 0 0 0;
    text-transform: uppercase;
}
.court-wrapper p {
    font-size: 14px;
    color: #333333;
    padding-top: 40px;
    line-height: 18px;
}
.col-court {
    width: 50%;
    float: left;
    margin-top: 70px;
    padding: 0 0 0 50px;
}
.col-court h4 {
    background: url(../images/check-mark.svg) no-repeat;
    font-size: 24px;
    color: #333333;
    padding: 0 0 46px 54px;
}
.col-court ul {
    margin: 0 0 70px 100px;
}
.col-court li {
    font-size: 18px;
    color: #333333;
    line-height: 32px;
}
.site-wrapper {
    background-color: #f3fff1;
    width: 100%;
    float: left;
    padding: 70px 0 80px 0;
}
.site-wrapper h2 {
    font-size: 48px;
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 55px;
}
.col-md {
    width: 40%;
    float: left;
    padding: 0 120px 0 0;
}
.col-md h4 {
    font-size: 24px;
    color: #333333;
}
.col-md p {
    font-size: 14px;
    color: #333333;
    line-height: 24px;
}
.col-md ul {
    margin: 0;
    padding: 0 25px 0 0;
    list-style: none;
}
.col-md li {
    background: url(../images/check-box.svg) no-repeat left 50%;
    background-size: 34px 34px;
    float: left;
    margin: 20px 0 0 0;
    padding: 4px 0 4px 58px;
    line-height: 22px;
}
.col-sm {
    width: 20%;
    float: left;
}
.rating {
    width: 100%;
    float: left;
}
.rating ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.rating li {
    float: left;
    margin: 0 0 0 2px;
}
.rating li:first-child {
    margin: 0;
}
.rating p {
    font-size: 24px;
    color: #333333;
    padding: 25px 0 35px 0;
    float: left;
}
.rating button {
    background-color: #24a90f;
    width: 224px;
    float: left;
    height: 65px;
    border-radius: 40px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}
.search-now {
    background-color: #0d2237;
    width: 100%;
    float: left;
    margin: 10px 0 0 0;
    padding: 40px 0 40px 0;
}
.search-now .search-frame {
    margin: 0;
}
.search-now .search-frame h3 {
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}

.customer-wrapper {
    width: 100%;
    float: left;
    padding: 60px 0 60px 0;
}
.customer-wrapper h2 {
    font-size: 48px;
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 55px;
}
.customer-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.customer-wrapper li {
    width: 50%;
    float: left;
    padding: 0 100px 0 0;
}
.customer-wrapper figure {
    width: 100%;
    float: left;
}
.customer-wrapper figure img {
    float: left;
    margin: 0 40px 0 0;
}
figcaption {
    font-size: 18px;
    color: #333333;
    padding: 20px 0 0 0;
}
figcaption p {
    line-height: 22px;
    padding: 0 0 5px 0;
}
.search-online {
    background-color: #bf0a30;
    width: 100%;
    float: left;
    padding: 35px 0 35px 0;
}
.search-container {
    width: 700px;
    margin: 0 auto;
}

.search-online h3 {
    width: 480px;
    float: left;
    font-size: 30px;
    color: #fff;
    line-height: 66px;
}
.search-online button {
    background-color: #f2ced6;
    width: 210px;
    float: left;
    height: 66px;
    border-radius: 40px;
    color: #112d49;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
}
.about-wrapper {
    background-color: #0d2237;
    width: 100%;
    float: left;
    padding: 50px 0 20px 0;
}
.about-col-md {
    width: 65%;
    float: left;
}
.about-col-md h4 {
    font-size: 18px;
    color: #2ac2c8;
    padding: 0 0 25px 0;
}
.about-col-md p {
    font-size: 12px;
    color: #fff;
    padding: 0 0 50px 0;
    line-height: 14px;
}
.about-col-sm {
    width: 20%;
    float: right;
}

.about-col-sm h4 {
    font-size: 18px;
    color: #2ac2c8;
    padding: 0 0 25px 0;
}
.about-col-sm ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.about-col-sm li a {
    font-size: 14px;
    color: #fff;
    line-height: 24px;
}

footer{
    width:100%;
    float:left;
    padding:30px 0 30px 0;
}
footer .logo { 
    margin: 0 0 0 5px; 
}
footer p{
    float:right; 
    font-size:12px;
    color:#333333;
    padding:10px 0 0 0;
}
.menu-icon { 
    display: none; 
}
@media (min-width:768px){
    .container { width: 90%; margin: 0 5%; }
}
@media (min-width:992px){
    .container{width:970px; margin: auto; padding: 0;}    
}
@media (min-width:1200px){
    .container{width:1186px;  margin: auto; padding: 0;}
}
@media (min-width:992px) and (max-width:1199px){
    nav .menu-dropdown{width:970px;}
    nav .menu-dropdown li{width:300px;}
    nav .menu-dropdown li:nth-child(4n+4){width:300px;}
    .width280 { width: 200px; }
    .width336 { width: 280px; }
    .width295 { width: 230px; }
    .search-wrapper h1 { font-size: 54px; }
    .court-wrapper h2, .site-wrapper h2 { font-size: 42px; }
    .col-md { width: 38%; padding: 0 80px 0 0; }
    .col-sm { width: 24%; }
    button[type="submit"]{ width: 134px; }
    .rating button {width: 200px; font-size: 22px; }
    .customer-wrapper h2 { font-size: 42px; }
}
@media (min-width:768px) and (max-width:991px){
    nav { margin: 10px 20px 10px 20px; }
    nav li { margin: 0 15px 0 15px; }
    nav li a{padding:13px 15px 13px 15px;}
    nav .menu-dropdown{width:700px;top:37px;}
    nav .menu-dropdown li{width:320px;}
    nav .menu-dropdown li:nth-child(4n+4){width:320px;}
    nav .menu-dropdown li a{float:left;}
    .logo{float:none;margin:20px auto 0;width:301px;}
    .right-frame{float:left;width:100%;}
    .login-frame{float:none;margin:20px auto 0;width:510px;}
    nav ul{width:100%;float:left;text-align:center;}
    nav li{display:inline-block;float:none;}
    .search-frame {padding: 25px 25px 25px 25px; }
    .width280 { width: 50%; }
    .width336 { width: 50%; }
    .width295 { margin: 15px 0 0 0; }
    button[type="submit"] {margin: 38px 0 0 10px; height: 50px; }
    .search-frame { margin-top: 50px; }
    .search-frame p { clear: both; float: left;}
    input {height: 50px;}
    .search-wrapper { padding: 50px 0 45px 0; }
    .search-wrapper h1 { font-size: 54px; }
    .court-wrapper { padding: 50px 0 50px 0; }
    .court-wrapper h2 { font-size: 36px; padding-bottom: 0; }
    .site-wrapper h2 { font-size: 36px; padding-bottom: 20px; }
    .court-wrapper h3 { padding: 40px 0 0 0; }
    .col-court { width: 100%; margin-top: 40px; padding: 0 0 30px 20px; }
    .col-court h4 { font-size: 20px; padding: 0 0 25px 40px; }
    .col-court ul { margin: 0 0 0 58px; }
    .col-md li { width: 100%; }
    .col-md { width: 100%; padding: 0 50px 20px 0; }
    .col-sm { width: 40%; }
    .site-wrapper { padding: 50px 0 50px 0; }
    .customer-wrapper { padding: 50px 0 50px 0; }
    .customer-wrapper h2 { font-size: 36px; padding-bottom: 20px; }
    .customer-wrapper li { width: 100%; padding: 20px 0 0 0; }
    .search-wrapper p { padding: 5px 15px 0 40px; font-weight: normal; }
    .about-wrapper { padding: 50px 0 40px 0; }
    .about-col-md { width: 100%; }
    .about-col-sm { width: 100%; float: left; }
    footer .logo { float:  left;}
}
@media (max-width:767px){
    .menu-icon { float: right; margin: 10px 15px 7px 0; display: block; }
    .menu-icon a { display: block; }
    .menu-icon img { width: 30px; }
    nav { margin: 0; position: relative; display: none; }
    .expand {  display: block; background-color: #fff; width: 100%; position: absolute; top: 46px; left: 0; }
    nav li { width: 100%; height: 40px; margin: 0; }
    nav li a { font-size: 14px; padding: 10px 15px 10px 15px; }
    .logo{width:165px;margin:15px 0px 0px 15px;}
    .logo img{width:100%;height:auto;}
    .search-wrapper { padding: 25px 15px 25px 15px; }
    .search-wrapper h1 { font-size: 32px;}
    .search-wrapper p { font-size: 16px; padding-top: 15px; line-height: 24px; }
    .search-frame { margin-top: 20px; padding: 8px 15px 8px 15px; }
    .search-frame p { background-size: 28px 38px; text-align: left; font-size: 12px; float: left; clear: both; padding: 8px 0 0 36px; margin-top: 8px; line-height: 30px; font-weight: normal; }
    .legend { width: 100%; height: auto; border-radius: 7px; padding: 8px 10px 8px 10px; line-height: 16px; }
    .width280 { width: 100%; }
    input { height: 48px;}
    .width295 { width: 100%; margin: 15px 0 0 0; }
    button[type="submit"] { width: 120px; height: 48px; margin: 20px 0 0 0; }
    .width336 { width: 100%; margin-top: 15px; }
    label { padding-bottom: 5px; }
    .court-wrapper { padding: 35px 15px 35px 15px; }
    .court-wrapper h2 { font-size: 32px; }
    .court-wrapper p { padding-top: 20px; }
    .court-wrapper h3 { font-size: 24px; padding: 20px 0 0 0; }
    .col-court { width: 100%; margin-top: 20px; padding: 0 0 20px 0; }
    .col-court h4 { font-size: 18px; padding: 0 0 20px 32px; }
    .col-court ul { margin: 0 0 0 50px; }
    .col-court li { font-size: 14px; line-height: 24px; }
    .site-wrapper {padding: 30px 15px 30px 15px; }
    .site-wrapper h2 { font-size: 32px; padding-bottom: 20px; }
    .col-md { width: 100%; padding: 0; }
    .col-md ul { padding: 0; }
    .col-md li { width: 100%; font-size: 14px; background-size: 24px 24px; margin: 10px 0 0 0; padding: 4px 0 4px 30px; line-height: 18px; }
    .col-md p { padding-bottom: 15px; }
    .col-sm { width: 100%; }
    .rating p { font-size: 20px; padding: 15px 0 20px 0; clear: both; }
    .rating button { width: 140px; height: 48px; font-size: 16px; clear: both; }
    .search-now { padding: 30px 15px 30px 15px; }
    .customer-wrapper { padding: 30px 15px 30px 15px; }
    .customer-wrapper h2 { font-size: 32px; padding-bottom: 20px; }
    .customer-wrapper li { width: 100%; padding: 20px 0 0 0; }
    .customer-wrapper figure img { margin: 0 20px 0 0; width: 70px; }
    figcaption { font-size: 14px; padding: 5px 0 0 0; }
    figcaption p { line-height: 16px; padding: 0 0 5px 0; }
    .search-container { width: 100%; }
    .search-online {padding: 30px 15px 30px 15px; }
    .search-online h3 { width: 100%; font-size: 22px; line-height: inherit; text-align: center; }
    .search-online button { width: 200px; height: 46px; font-size: 16px; float: inherit; margin: 15px 0 0 -100px; position: relative; left: 50%; }
    .about-wrapper { padding: 30px 15px 20px 15px; }
    .about-col-md { width: 100%; }
    .about-col-sm { width: 100%; float: left; }
    .about-col-md p { padding: 0 0 30px 0; line-height: 18px; }
    .about-col-md h4 { padding: 0 0 20px 0; }
    footer .logo { margin: 0 0 0 15px; }
    footer { padding: 20px 0 20px 0; }
    footer p { width: 100%; float: left; padding: 10px 0 0 15px; }
}